<section class="vegetables">
  <h2>Organic vegetables</h2>
  <p>
    We deliver fresh, locally grown organic vegetables right to your doorstep.
  </p>
  <ul>
    <li>
      <img
        src="./src/images/carrot.jpg"
        srcset="./src/images/carrot.jpg 1x, ./src/images/carrot@2x.jpg 2x"
        alt="Carrot"
        width="300"
        height="300"
      />
    </li>
    <li>
      <img
        src="./src/images/corn.jpg"
        srcset="./src/images/corn.jpg 1x, ./src/images/corn@2x.jpg 2x"
        alt="Corn"
        width="300"
        height="300"
      />
    </li>
    <li>
      <img
        src="./src/images/eggplant.jpg"
        srcset="./src/images/eggplant.jpg 1x, ./src/images/eggplant@2x.jpg 2x"
        alt="Eggplant"
        width="300"
        height="300"
      />
    </li>
    <li>
      <img
        src="./src/images/leek.jpg"
        srcset="./src/images/leek.jpg 1x, ./src/images/leek@2x.jpg 2x"
        alt="Leek"
        width="300"
        height="300"
      />
    </li>
    <li>
      <img
        src="./src/images/mushroom.jpg"
        srcset="./src/images/mushroom.jpg 1x, ./src/images/mushroom@2x.jpg 2x"
        alt="Mushroom"
        width="300"
        height="300"
      />
    </li>
    <li>
      <img
        src="./src/images/sweet-potatoes.jpg"
        srcset="
          ./src/images/sweet-potatoes.jpg    1x,
          ./src/images/sweet-potatoes@2x.jpg 2x
        "
        alt="Sweet Potatoes"
        width="300"
        height="300"
      />
    </li>
  </ul>
</section>
