<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <a class="footer-logo logo" href="#">GREEN.HARVEST</a>
        <p class="footer-slogan">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li>
            <a class="footer-nav-link" href="#how-it-works">How it works</a>
          </li>
          <li><a class="footer-nav-link" href="#vegetables">Vegetables</a></li>
          <li><a class="footer-nav-link" href="#reviews">Reviews</a></li>
        </ul>
      </nav>
      <div class="footer-contacts">
        <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <address class="footer-address">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-legal">
        <li><a class="footer-legal-link" href="#">Privacy Policy</a></li>
        <li><a class="footer-legal-link" href="#">Cookie settings</a></li>
      </ul>
      <p class="footer-copyright">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
