<header class="header">
  <div class="container">
    <a class="header-logo logo" href="#">
      <svg width="20" height="20">
        <use href="src/images/icons.svg#icon-logo"></use>
      </svg>
      GREEN.HARVEST
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#how-it-works">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <a class="btn btn-primary" href="#">Shop now</a>
    <button class="burger-btn" type="button" aria-label="Open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
