<section class="how-it-works" id="how-it-works">
  <picture>
    <source
      media="(min-width: 1280px)"
      srcset="
        src/images/woman-desktop.jpg    1x,
        src/images/woman-desktop@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="src/images/woman-tablet.jpg 1x, src/images/woman-tablet@2x.jpg 2x"
    />
    <img
      srcset="src/images/woman-mobile.jpg 1x, src/images/woman-mobile@2x.jpg 2x"
      src="src/images/woman-mobile.jpg"
      alt="Woman cooking"
    />
  </picture>
</section>
