<section class="vegetables"></section>
<img srcset="src/images/eggplant.jpg 1x, src/images/eggplant@2x.jpg 2x" src="src/images/eggplant.jpg" alt="Eggplant" />

<img srcset="src/images/leek.jpg 1x, src/images/leek@2x.jpg 2x" src="src/images/leek.jpg" alt="Leek" />

<img srcset="src/images/mushroom.jpg 1x, src/images/mushroom@2x.jpg 2x" src="src/images/mushroom.jpg" alt="Mushroom" />

<img srcset="src/images/corn.jpg 1x, src/images/corn@2x.jpg 2x" src="src/images/corn.jpg" alt="Corn" />

<img srcset="src/images/sweet-potatoes.jpg 1x, src/images/sweet-potatoes@2x.jpg 2x" src="src/images/sweet-potatoes.jpg"
    alt="Sweet potatoes" />

<img srcset="src/images/carrot.jpg 1x, src/images/carrot@2x.jpg 2x" src="src/images/carrot.jpg" alt="Carrot" />