.how-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
.how-image-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #7a3145;
  padding: 40px 20px;
  box-sizing: border-box;
}
.how-image-side img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.how-content-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #576f35;
  padding: 80px 20px;
  box-sizing: border-box;
}
.section-title {
  font-family: "Inter Tight", sans-serif !important;
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  height: auto;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}
.accent {
  color: #d4bfc4 !important;
  -webkit-text-stroke: 0 !important;
}
.sub-text {
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  width: 100%;
  height: auto;
  margin-bottom: 40px !important;
}
.step-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: item;
}
.step-item {
  background-color: #fbfbfb;
  color: #333;
  padding: 12px 24px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100% !important;
  min-height: auto;
}
.step-item p {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  max-width: 100%;
  -webkit-font-smoothing: antialiased !important;
}
.step-item::before {
  content: counter(item);
  counter-increment: item;
  min-width: 52px;
  height: 52px;
  background-color: #7a3145;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  border: 5px solid #d4bfc4;
}

@media screen and (min-width: 768px) {
  .how-image-side {
    padding: 100px 32px;
  }
  .how-content-side {
    padding: 100px 132px;
  }
  .section-title {
    font-size: 32px;
    margin-bottom: 24px !important;
  }
  .sub-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px !important;
  }
  .step-list {
    gap: 24px;
  }
  .step-item {
    font-size: 16px;
  }
  .step-item p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .how-container {
    flex-direction: row;
    height: 760px;
  }
  .how-image-side {
    width: 50vw;
    padding: 100px;
  }
  .how-image-side img {
    max-width: 440px;
    margin-left: auto;
  }
  .how-content-side {
    width: 50vw;
    padding-left: 100px;
    padding-right: 100px;
  }
  .section-title {
    width: 440px;
    height: 96px;
  }
  .sub-text {
    width: 440px;
    height: 60px;
    margin-bottom: 104px !important;
  }
  .step-item {
    width: 440px !important;
    min-height: 76px;
  }
  .step-item p {
    max-width: 325px;
  }
}
